.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ========================================================================================================================================================
common
======================================================================================================================================================== */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* ========================================================================================================================================================
header
======================================================================================================================================================== */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.link-top-one,
.address {
  display: none;
}
.logo {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-head {
  color: #2e2f42;
}
.nav-link {
  margin-right: auto;
}
.button-burger {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.burger-icon {
  display: flex;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .button-burger {
    display: none;
  }
  .nav-link {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .link-top-one {
    display: flex;
    gap: 40px;
  }
  .address {
    display: block;
    font-style: normal;
  }
  .link-top {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-top:hover,
  .link-top:active,
  .link-top-one:focus {
    color: #404bbf;
  }
  .link-address {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-address:hover,
  .link-address:active,
  .link-address:focus {
    color: #404bbf;
  }
  .link-top-header::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    left: 0;
    position: absolute;
    bottom: -1px;
  }
  .link-top-header {
    color: #404bbf;
    position: relative;
  }
  .address-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .address-contact {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .link-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* ========================================================================================================================================================
modal
======================================================================================================================================================== */
.mobile-menu {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: translateX 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
  transform: translateX(100%);
}
.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0%);
}
.conteiner-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  min-height: 640px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  stroke-width: 1px;
  fill: #2e2f42;
  stroke: #2e2f42;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close:hover,
.icon-close:focus {
  fill: #ffffff;
}
.menu-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 24px;
  margin-left: 16px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: 151px;
  height: 200px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-nav-one {
  color: #404bbf;
}
.list-nav:hover,
.list-nav:focus {
  color: #404bbf;
}
.address-contact-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 193px;
  height: 72px;
  margin-top: 168px;
  margin-left: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-address-one {
  color: #4d5ae5;
}
.link-address-mobile:hover,
.link-address-mobile:focus {
  color: #4d5ae5;
}
.social-modal {
  display: flex;
  gap: 40px;
  margin-top: 48px;
  margin-left: 16px;
  margin-bottom: 40px;
}
.link-social-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
  width: 40px;
}
.social-items-modal {
  fill: #4d5ae5;
}
.link-social-modal:hover,
.link-social-modal:focus {
  background-color: #31d0aa;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  @media screen and (min-width: 1158px) {
    .mobile-menu {
      display: none;
    }
  }
}
/* ========================================================================================================================================================
modal-one
======================================================================================================================================================== */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  stroke-width: 1px;
  fill: #2e2f42;
  stroke: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close:hover,
.icon-close:focus {
  fill: #ffffff;
}
.modal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 16px;
}
.form-wrapper {
  margin-bottom: 8px;
}
input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}

.form-div {
  position: relative;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0.2, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  text-align: left;
  margin-bottom: 4px;
}
.input-form {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.input-form:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.input-form:focus + .icon-form {
  fill: #4d5ae5;
}
.form-wrapper-textarea {
  margin-bottom: 16px;
}
.textarea {
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
}
.textarea:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.checkbox-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-label .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.submit-button {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;

  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  max-width: 256px;
}

.policy {
  text-decoration: underline;
  font-size: 12px;
  line-height: 14px;
  color: #4d5ae5;
}
.checkbox-wrapper {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .checkbox-label {
    width: 360px;
  }
}

/* ========================================================================================================================================================
hero
======================================================================================================================================================== */

.hero {
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2e2f42;
  max-width: 320px;
  background-position: center;
  color: #ffffff;
}
@media screen and (min-resolution: 192px) {
  .hero {
    background-image: url(../images/hero/hero-mobile-two@2x.jpg);
  }
}

.page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
  margin-right: auto;
  margin-left: auto;
}
.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  cursor: pointer;
  height: 56px;
  margin-top: 78px;
  margin-right: auto;
  margin-left: auto;
}
.button:active,
.button:focus,
.button:hover {
  color: #404bbf;
  background-color: #404bbf;
}
