
--===========================================================--------=============
  > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}


.hero {
  background: #2e2f42;
  color: #ffffff;
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
  height: 56px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team {
  background-color: #ffffff;
}
.footer {
  background: #2e2f42;
  font-family: "Raleway", sans-serif;
}

  color: #404bbf;
  background-color: #404bbf;
}
.button:active {
  color: #404bbf;
  background-color: #404bbf;
}
.our-team {
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-discr {
  font-size: 16px;
}
.portfolio {
  text-transform: capitalize;
}
.studio {
  color: #f4f4fd;
}
.end {
  color: #f4f4fd;
}
.studio-head {
  color: #2e2f42;
}


.our-team-list {
  color: #ffffff;
}
.strategy {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.strategy-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.logo:hover {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-head:hover {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-head:active {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-img {
  background-color: #ffffff;
}
.link-top:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-top-one:focus {
  color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team {
  background-color: #ffffff;
}
.address:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-address:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-section {
  background-color: #f4f4fd;
}
/*css part two*/



.logo {
  margin-right: 76px;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero {
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2e2f42;
  max-width: 1440px;
  background-position: center;
}


.button {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  margin-top: 48px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-two {
  text-align: start;
  padding-top: 120px;
  padding-bottom: 120px;
}

.strategy-list {
  display: flex;
  gap: 24px;
}
.nav-link {
  color: #404bbf;
}

.strategy-list-item {
  width: calc((100% - 72px) / 4);
}
.strategy-margin {
  margin-bottom: 8px;
}
.strategy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.our-team-list {
  display: flex;
  column-gap: 24px;
}
.list-team {
  display: flex;
  gap: 24px;
}
.team-img {
  display: block;
}
.team-section {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-team-lead {
  margin-bottom: 8px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.our-team-list {
  padding-top: 32px;
  padding-bottom: 32px;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.our-products-section {
  padding: 120px 0;
  text-align: center;
}
.portfolio {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.our-products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  column-gap: 24px;
}
.portfolio-products {
  display: block;
  max-width: 100%;
  height: auto;
}
.list-products {
  width: calc((100% - 144) / 6);
}
.discr-products {
  padding: 32px 16px;
  text-align: left;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.banking-app-container {
  margin-bottom: 8px;
}
.social-items {
  fill: #4d5ae5;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.end {
  max-width: 264px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.social-items-container {
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}
.strategy-list-item-icon {
  border-radius: 4px;
  width: 64px;
  height: 64px;
}
.team-item {
  border-radius: 0px 0px 4px 4px;
}

.footer-media {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-all {
  display: flex;
}
.link-social {
  display: block;
  line-height: 0;
  background-color: #4d5ae5;
}
.social-items-footer {
  display: flex;
  fill: #f4f4fd;
}
.list-footer {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-social:hover {
  background-color: #31d0aa;
}
.link-social:focus {
  background-color: #31d0aa;
}
.social-items-list {
  display: flex;
  gap: 16px;
}
.footer-form {
  width: 453px;
}

.list-products:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-card {
  overflow: hidden;
  position: relative;
}
.overlay-text {
  position: absolute;
  top: 0;
  text-align: left;
  padding: 40px 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.social-items-team {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.list-social-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tap-list {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tap-list:hover {
  background-color: #404bbf;
}
.tap-list:focus {
  background-color: #404bbf;
}
.social-items-three {
  fill: #f4f4fd;
}
.link-top-header {
  color: #404bbf;
}
.tap-list {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-footer-conteiner {
  margin-right: 120px;
}
.link-social {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}
.footer-all {
  display: flex;
  align-items: baseline;
}
.list-footer {
  width: 40px;
  height: 40px;
}
.list-products:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.list-products {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social {
  margin-right: 80px;
}

.form-for-label {
  display: flex;
  gap: 24px;
}
.footer-form-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-form-input::placeholder {
  color: #ffffff;
}
.footer-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.footer-button-icon {
  margin-left: 16px;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  stroke-width: 1px;
  fill: #2e2f42;
  stroke: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close:hover,
.icon-close:focus {
  fill: #ffffff;
}
.modal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 16px;
}
.form-wrapper {
  margin-bottom: 8px;
}
input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}

.form-div {
  position: relative;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0.2, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  text-align: left;
  margin-bottom: 4px;
}
.input-form {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.input-form:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.input-form:focus + .icon-form {
  fill: #4d5ae5;
}
.form-wrapper-textarea {
  margin-bottom: 16px;
}
.textarea {
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
}
.textarea:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.checkbox-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-label .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.submit-button {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;

  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.policy {
  text-decoration: underline;
  font-size: 12px;
  line-height: 14px;
  color: #4d5ae5;
}
.checkbox-wrapper {
  margin-bottom: 24px;
}
